/* RESET! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* --------------------------------------------------------------------------
  =layout
--------------------------------------------------------------------------- */

body {
  font: small/1.5em Helvetica, Arial, Verdana, sans-serif;
  background-color: #403f39;
  color: #444;
}


/* ---------------------------------------------------------------------------
	=category selection
--------------------------------------------------------------------------- */

#categories {
  width: 640px;
  position: relative;

  /* Custom */
  background-color: #fff;
  margin: 20px auto;
  padding: 10px;
}

  #categories ol {
    list-style: none;
  }

    #categories a {
      color: #444;
      text-decoration: none;
    }

      #categories a#back {
        display: block;
        float: left;
        margin-left: 5px;
        padding: 0 5px 0 13px;
        background: url(images/arrows/left.png) no-repeat 0 center;
      }

        #categories a#back:hover {
          background-color: #eee;
        }

  /* Search form */
  #categories_search {
    float: right;
    margin-right: 18px;
  }

    #categories_search label {
      font-size: 11px;
      margin-right: 5px;
    }

    #categories_search input {
      font-size: 11px;
      margin: 0;
      padding: 0;
    }

  /* Search results */
  #category_search_results {
    background-color: #eee;
    border: 3px solid #666;
    position: absolute;
    top: 20px;
    right: 18px;
  }

  #category_search_results li {
    margin: 0;
  }

  #category_search_results a {
    padding: 3px 3px 3px 5px;
    line-height: 1.5em;
    background: none;
    font-size: 11px;
    width: 200px;
  }

    #category_search_results a:hover {
      background: #8AB0CF;
      color: #fff;
      font-size: 11px;
      width: 200px;
    }


#category_items {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
  clear: both;
  position: relative;
}

  #category_items span.keywords {
    display: none;
  }

    #category_items ol.root {
      position: relative;
    }

      #category_items ol.root li {
        line-height: 0;
      }

      #category_items ol ol {
        display: none;
      }

        #category_items ol li.highlighted > ol {
          display: block;
          position: absolute;
          margin-left: 315px;
          top: 0;
        }

      #category_items .category_item {
        width: 305px;
        border-top: 1px solid #eee;
      }

      #category_items .category_item input {
        display: block;
        float: left;
        margin: 7px 5px 0px;
      }

      #category_items .category_item a {
        display: block;
        width: 285px;
        padding: 5px 15px 5px 5px;
        background: url(images/arrows/right.png) no-repeat 292px center;
        line-height: 1.5em;
      }

        #categories .category_item a:hover {
          background-color: #eee;
        }

        #category_items ol li:first-child > .category_item {
          border: none;
        }

        #category_items ol li.highlighted > .category_item a {
          background-image: url(images/arrows/right-selected.png);
        }

      #category_items ol li.last a {
        background-image: none;
      }

      #category_items ol li.descendant_selected > .category_item a {
        background-color: #8ab0cf;
      }

      #category_items ol li.selected > .category_item a {
        background-color: #607B90;
      }

        #category_items ol li.selected > .category_item a,
        #category_items ol li.descendant_selected > .category_item a {
          color: #fff;
        }

/* Selected categories list */
#selected_categories {
  margin-bottom: 0;
}

  #selected_categories.empty {
    display: none;
  }

  #selected_categories h3 {
    margin: 15px 0 5px;
  }

  #selected_categories ul {
    list-style: none;
    margin-left: 10px;
  }

    #selected_categories ul input {
      margin-bottom: 0;
    }

    #selected_categories ul a:hover {
      background: none;
    }
