/* RESET! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* --------------------------------------------------------------------------
  =layout
--------------------------------------------------------------------------- */

body {
  font: small/1.5em Helvetica, Arial, Verdana, sans-serif;
  background-color: #403f39;
  color: #444;
}


/* ---------------------------------------------------------------------------
  =category selection
--------------------------------------------------------------------------- */

#categories {
  width: 640px;
  position: relative;

  /* Custom */
  background-color: #fff;
  margin: 20px auto;
  padding-top: 5px;
}

  #categories form {
    float: right;
    margin-right: 18px;
  }

#category_items {
  height: 315px;
  overflow: auto;
  overflow-x: hidden;
  clear: both;
}

  #categories a {
    color: inherit;
    text-decoration: none;
  }

    #categories a:hover {
      background-color: #ddd;
    }

    #categories a#back {
      display: block;
      float: left;
      margin-left: 5px;
      padding: 0 5px 0 13px;
      background: url(images/left.png) no-repeat 0 center;
    }

  #categories ol {
    list-style: none;
  }

    #categories #category_search {
      background-color: #eee;
      border: 3px solid #666;
      position: absolute;
      top: 27px;
      right: 18px;
    }

    #categories #category_search li {
      margin: 0;
    }

    #categories #category_search a {
      padding: 3px 3px 3px 5px;
      line-height: 1.5em;
      background: none;
      font-size: 11px;
      width: 200px;
    }

      #categories #category_search a:hover {
        background: #8AB0CF;
        color: #fff;
        font-size: 11px;
        width: 200px;
      }

    #categories ol.root {
      clear: left;
      position: relative;
    }

      #categories ol ol {
        display: none;
        position: absolute;
        margin-left: 305px;
        top: 0;
      }

        #categories ol li.highlighted > ol {
          display: block;
        }

    #categories ol li {
      margin: 5px;
    }

      #categories ol li input {
        display: block;
        float: left;
        margin: 7px 5px 5px;
      }

      #categories ol li a {
        display: block;
        width: 285px;
        padding: 5px 15px 5px 5px;
        background: url(images/right.png) #eee no-repeat 292px center;
      }

        #categories ol li.highlighted > a {
          background-image: url(images/right-selected.png);
        }

      #categories ol li.last a {
        background-image: none;
      }

      #categories ol li.descendant_selected > a {
        background-color: #8ab0cf;
      }

      #categories ol li.selected > a {
        background-color: #607B90;
      }

        #categories ol li.selected > a,
        #categories ol li.descendant_selected > a {
          color: #fff;
        }
