/* RESET! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* --------------------------------------------------------------------------
  =layout
--------------------------------------------------------------------------- */

body {
  font: small/1.5em Helvetica, Arial, Verdana, sans-serif;
  background-color: #403f39;
  color: #444;
}


/* ---------------------------------------------------------------------------
  =category selection
--------------------------------------------------------------------------- */

#categories {
  background-color: #fff;
  margin: 20px auto;

  width: 640px;
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
}

  #categories input {
    display: block;
    float: left;
    margin: 7px 5px 5px;
  }

  #categories a {
    padding: 5px;
    background-color: #eee;
    color: inherit;
    text-decoration: none;
  }

    #categories a:hover {
      background-color: #ddd;
    }

    #categories a span {
      color: #aaa;
    }

    #categories a#back {
      display: block;
      float: left;
      margin-left: 5px;
      padding: 3px 5px;
      background: none;
    }

    #categories a#back span {
      margin-right: 5px;
    }

  #categories ol {
    list-style: none;
  }

    #categories > ol {
      clear: left;
      position: relative;
    }

    #categories ol li {
      margin: 5px;
    }

      #categories ol li a {
        display: block;
        width: 295px;
      }

      #categories ol li a span {
        display: block;
        float: right;
      }

        #categories ol li.last a span {
          display: none;
        }

      #categories ol li.highlighted > a span {
        color: #333 !important;
      }

      #categories ol li.descendant_selected > a {
        background-color: #8ab0cf;
      }

      #categories ol li.selected > a {
        background-color: #607B90;
      }

        #categories ol li.selected > a,
        #categories ol li.descendant_selected > a {
          color: #fff;
        }

          #categories ol li.selected > a span,
          #categories ol li.descendant_selected > a span {
            color: #fff;
          }

  #categories ol ol {
    display: none;
    position: absolute;
    margin-left: 305px;
    top: 0;
  }

    #categories ol li.highlighted > ol {
      display: block;
    }
