// Configure bluepring and the grids
!blueprint_grid_columns = 10
!blueprint_grid_width = 60px
!blueprint_grid_margin  = 20px

@import compass/layout.sass
@import blueprint/reset.sass
@import blueprint

+blueprint

@import utilities.sass

!my_green = #78A419
!my_dark_blue = #006D80
!my_light_blue = #84CECC


h1, h2
  :font-weight bold
  :margin 1em 0 0.5em 0

  a
    :padding 5px
    :margin -5px

a
  :color = !my_dark_blue

  &:visited
    :color = !my_dark_blue

  &:active, &:hover
    :background-color = !my_light_blue
    :color #3C2000

  h1 &
    :color #{ !my_green } !important
    :text-decoration none

    &:hover
      :background-color = !my_green
      :color #FFFFFF !important

body
  :color #000

// Code blocks
pre
  :background-color #f8f8ff
  :border 1px solid #dedede
  :padding 0.5em
  :margin 1.5em
  :overflow auto
  :font
    :family 'Courier', monospace
    :size 12px
