!blueprint_grid_columns = 10
!blueprint_grid_width = 60px
!blueprint_grid_margin  = 20px

@import compass/layout.sass
@import blueprint/reset.sass
@import blueprint

+blueprint


// Mixins
=flatten_list
  :margin 0
  :list-style none

=hide_text
  :text-indent -9999px

h1, h2
  :font-weight bold
  :margin 1em 0 0.5em 0

a
  :color #006D80

  &:visited
    :color #006D80

  &:active, &:hover
    :background-color #84CECC
    :color #3C2000

  h1 &
    :color #78A419 !important
    :text-decoration none

    &:hover
      :background-color #78A419
      :color #FFFFFF !important

body
  :color #000

pre
  :background-color #f8f8ff
  :border 1px solid #dedede
  :padding 0.5em
  :margin 1.5em
  :overflow auto
  :font
    :family 'Courier', monospace
    :size 12px
