@import partials/base.sass

!twitter_color = #84CECC
!blog_color = #006D80
!post_type_border_width = 5px

// Main
#content
  +container
  // +showgrid
  :min-height 568px

  #main
    +column(15)
    :margin-left 40px

    #entries
      +flatten_list

      li
        :padding-left 10px

        &.tweet
          :border-left = !post_type_border_width "solid" !twitter_color
          :margin-bottom 1.5em

          h2
            :display none

          p
            :margin 0
            :display inline

          a.permalink
            +hide_text
            :display inline-block
            :background url(/images/twitter_icon.png) center center no-repeat
            :height 16px
            :width 16px
            :margin-left 5px

        &.blog
          :border-left = !post_type_border_width "solid" !blog_color

  #sidebar
    +flatten_list
    +column(6, true)
    :color #666
    :padding-top 1em

    h2
      :color #666
      :font-weight normal
      :margin 0.5em 0 0

    ol
      +flatten_list

    ol, p
      :margin-left 1em

    li.archive
      :margin-top 0.5em
      :text-align right
