/* line 6, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus { outline: 0; }

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body { line-height: 1; color: #000; background: #fff; }

/* line 23, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 33, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote { quotes: "" ""; }
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 36, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img { border: none; }

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

/* line 58, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
/* line 63, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h1 img { margin: 0; }

/* line 65, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

/* line 69, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

/* line 74, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

/* line 79, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

/* line 84, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

/* line 88, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

/* line 90, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p { margin: 0 0 1.5em; }
/* line 92, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
/* line 96, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* line 100, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
a { text-decoration: underline; color: #000099; }
/* line 12, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:visited { color: #000066; }
/* line 15, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:focus { color: black; }
/* line 18, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:hover { color: black; }
/* line 21, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
a:active { color: #cc0099; }

/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
blockquote { margin: 1.5em; color: #666; font-style: italic; }

/* line 107, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
strong { font-weight: bold; }

/* line 109, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
em { font-style: italic; }

/* line 111, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dfn { font-style: italic; font-weight: bold; }

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
sup, sub { line-height: 0; }

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
abbr, acronym { border-bottom: 1px dotted #666; }

/* line 118, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
address { margin: 0 0 1.5em; font-style: italic; }

/* line 121, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
del { color: #666; }

/* line 123, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre { margin: 1.5em 0; white-space: pre; }

/* line 126, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* line 129, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
li ul, li ol { margin: 0; }

/* line 131, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

/* line 134, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ul { list-style-type: disc; }

/* line 136, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
ol { list-style-type: decimal; }

/* line 138, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl { margin: 0 0 1.5em 0; }
/* line 140, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dl dt { font-weight: bold; }

/* line 142, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
dd { margin-left: 1.5em; }

/* line 144, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
table { margin-bottom: 1.4em; width: 100%; }

/* line 147, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th { font-weight: bold; }

/* line 149, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
thead th { background: #c3d9ff; }

/* line 151, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
th, td, caption { padding: 4px 10px 4px 5px; }

/* line 153, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tr.even td { background: #e5ecf9; }

/* line 155, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
tfoot { font-style: italic; }

/* line 157, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
caption { background: #eee; }

/* line 159, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.quiet { color: #666666; }

/* line 161, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
.loud { color: #111111; }

/* line 11, ../_sass/partials/_blueprint_config.sass */
pre, code, tt { font-size: 12px; }

/* line 11, ../_sass/partials/_base.sass */
body { color: #000; }

/* line 14, ../_sass/partials/_base.sass */
a { border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; color: #006d80; background-color: #f0f0f0; padding: 0.25em 0.5em; text-decoration: none; }
/* line 21, ../_sass/partials/_base.sass */
a:visited { color: #006d80; }
/* line 24, ../_sass/partials/_base.sass */
a:active, a:hover { background-color: #84cecc; color: white; }
/* line 28, ../_sass/partials/_base.sass */
h1 a { color: #78a419 !important; }
/* line 31, ../_sass/partials/_base.sass */
h1 a:hover { background-color: #78a419; color: #FFFFFF !important; }
/* line 35, ../_sass/partials/_base.sass */
h1 a, h2 a { background-color: inherit; }

/* line 38, ../_sass/partials/_base.sass */
h1, h2, h3, h4 { font-weight: bold; margin: 1em 0 0.5em 0; }
/* line 42, ../_sass/partials/_base.sass */
h1 a, h2 a, h3 a, h4 a { padding: 5px; margin: -5px; }
/* line 46, ../_sass/partials/_base.sass */
h1 small, h2 small, h3 small, h4 small { font-size: 0.8em; }

/* line 49, ../_sass/partials/_base.sass */
h2 small { font-size: 0.6em; text-transform: lowercase; display: block; }

/* line 54, ../_sass/partials/_base.sass */
h3, h4 { margin-top: 1.5em; }

/* line 58, ../_sass/partials/_base.sass */
pre { background-color: #f8f8ff; border: 1px solid #dedede; padding: 0.5em; margin: 1.5em; overflow: auto; }

/* line 1, ../_sass/partials/_entries.sass */
#entries { margin: 0; padding: 0; list-style: none; }
/* line 4, ../_sass/partials/_entries.sass */
#entries li { padding-left: 10px; margin-bottom: 1.5em; }
/* line 8, ../_sass/partials/_entries.sass */
#entries li a.permalink { display: inline; float: left; margin-right: 20px; width: 60px; display: inline; float: left; position: relative; margin-left: -48px; height: 21px; width: 21px; margin-top: 7px; padding: 0; background-color: inherit; }
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #entries li a.permalink { overflow-x: hidden; }
/* line 17, ../_sass/partials/_entries.sass */
#entries li.tweet { border-left: 5px solid #84cecc; }
/* line 21, ../_sass/partials/_entries.sass */
#entries li.tweet a.permalink { text-indent: -9999em; overflow: hidden; text-align: left; background-image: url('/images/tweet.png?1247678559'); background-repeat: no-repeat; background-position: 50% 50%; }
/* line 24, ../_sass/partials/_entries.sass */
#entries li.tweet p { margin: 0; }
/* line 27, ../_sass/partials/_entries.sass */
#entries li.blog { border-left: 5px solid #006d80; }
/* line 30, ../_sass/partials/_entries.sass */
#entries li.blog h2 { margin-top: 0; }
/* line 33, ../_sass/partials/_entries.sass */
#entries li.blog a.permalink { text-indent: -9999em; overflow: hidden; text-align: left; background-image: url('/images/note.png?1247678549'); background-repeat: no-repeat; background-position: 50% 50%; }
/* line 36, ../_sass/partials/_entries.sass */
#entries li.blog ol, #entries li.blog ul { margin-bottom: 1.5em; padding-left: 1.5em; }
/* line 40, ../_sass/partials/_entries.sass */
#entries li.blog ol li, #entries li.blog ul li { margin-bottom: 0; }

/* line 3, ../_sass/partials/_footer.sass */
#footer { background-color: #78a419; }

/* line 7, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/layout/_sticky_footer.sass */
html, body { height: 100%; }

/* line 9, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/layout/_sticky_footer.sass */
#content { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -5px; }
/* line 15, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/layout/_sticky_footer.sass */
#content #content_footer { height: 5px; }

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/layout/_sticky_footer.sass */
#footer { clear: both; position: relative; height: 5px; }

/* line 6, ../_sass/main.sass */
#content { width: 780px; margin: 0 auto; overflow: hidden; display: inline-block; overflow: visible; }
/* line 5, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#content { display: block; }
/* line 13, ../_sass/main.sass */
#content #main { display: inline; float: left; margin-right: 20px; width: 540px; }
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #content #main { overflow-x: hidden; }
/* line 16, ../_sass/main.sass */
#content #sidebar { display: inline; float: left; margin-right: 0; width: 220px; padding-top: 36px; color: #666; }
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #content #sidebar { overflow-x: hidden; }
/* line 21, ../_sass/main.sass */
#content #sidebar h2 { color: #666; font-weight: normal; margin: 0 0 0.25em; }
/* line 26, ../_sass/main.sass */
#content #sidebar #filter { margin: 0; padding: 0; list-style: none; margin-top: 3em; }
/* line 30, ../_sass/main.sass */
#content #sidebar #filter li { float: left; }
/* line 33, ../_sass/main.sass */
#content #sidebar #filter li a { display: block; padding-left: 36px; font-size: 1.5em; background-repeat: no-repeat; background-position: 10px 50%; }
/* line 41, ../_sass/main.sass */
#content #sidebar #filter li a.blog { background-image: url('/images/note.png?1247678549'); margin-right: 10px; }
/* line 45, ../_sass/main.sass */
#content #sidebar #filter li a.tweet { background-image: url('/images/tweet.png?1247678559'); }
