<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      {% if page.category == "tweet" %}
        Tweet
      {% else %}
        {{ page.title }}
      {% endif %}
    </title>
    <meta name="author" content="Larry Marburger" />

    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen, projection" />

    <link rel="alternate" type="application/atom+xml" title="Blog Posts" href="/posts_feed.html" />
    <link rel="alternate" type="application/rss+xml" title="Tweets" href="http://twitter.com/statuses/user_timeline/2355631.rss" />
    <link rel="alternate" type="application/atom+xml" title="Everything!" href="/all_feed.html" />
  </head>
  <body>
    <div id="content">
      <div id="main">
        <h1><a href="/" title="Developmentastic">Developmentastic</a></h1>

        {{ content }}

        <div id="content_footer"></div>
      </div>

      <ul id="sidebar">
        <li>
          <h2>Who is this guy?</h2>
          <p id="about">
            <!-- I know it's bad karma to put a space around an em dash, but Firefox won't line
              wrap without it. I'm not an English major. What do I care? -->
            The name's Larry Marburger. I'm just some guy on the internet who likes technology&mdash;JavaScript, Rails, Flex and .NET
            to name a few.  I use these technologies to build kickass thingamajigs at
            <a href="http://andculture.com" title="andCulture">andCulture</a>.
          </p>
          <p>
            Find me on <a href="http://github.com/lmarburger" title="GitHub">GitHub</a> and
            <a href="http://twitter.com/lmarburger" title="Twitter">Twitter</a>.
          </p>
        </li>
      </ul>
    </div>

    <div id="footer"></div>
  </body>
</html>